version: '3.5'
services:
  postgres:
    image: postgres:13.5
    restart: always
    env_file: 
      - backend/.env
    container_name: database
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - '5432:5432'
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend
    env_file:
      - backend/.env
    ports:
      - '3000:3000'
      - '5555:5555'
    depends_on:
      - postgres
    volumes:
      - /Users/hassan/Desktop/back/backend/src:/backend/src
volumes:
  postgres:


